<?xml version="1.0"?>

<launch>
  <arg name="model" default="$(find robot1_description)/urdf/robot1_base_04.xacro"/>

  <param name="/use_sim_time" value="true" />
  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />

  <remap from="robot/laser/scan" to="/scan" />
   <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

  <!-- start robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen"/>


<node name="map_server" pkg="map_server" type="map_server" args="$(find c9)/maps/map1.yaml" output="screen"/>
<include file="$(find amcl)/examples/amcl_diff.launch" >
  </include> 

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="controller_frequency" value="10.0"/>
    <param name="controller_patiente" value="15.0"/>
    <rosparam file="$(find c9)/launch/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find c9)/launch/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find c9)/launch/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find c9)/launch/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find c9)/launch/base_local_planner_params.yaml" command="load" />
  </node>
<node name="rviz" pkg="rviz" type="rviz" args="-d $(find c9)/launch/navigation.rviz"/>
</launch>
